 {
  margin: 15px;
  padding: 5px;
  border-size: border-box;
}

html, body {
  height: 80vh;
  background: #fff;
  font-family: 'Balsamiq Sans', sans-serif;
  line-height: 40px;
  color: #000;
  font-size: 24px;
  margin: 30 30 30 30px;
  display: block;
}

body {
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left; 
  margin-bottom: 20px;
  

} 
@media screen and (max-width: 900px) {
   .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
.row input[type="submit"] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-bottom: 40px;
}
}
